# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/node_modules
.env
/google-sheets-key.json
backend/example-461305-753c23ebd926.json
backend/marry-457507-eb5520c29577.json
backend/marry-457507-a560050116c3.json
