@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BiauKaiDigits'; /* 為這個特殊的字型定義一個新的名稱 */
  src: local('標楷體'), /* 嘗試載入本地的 '標楷體' */
       local('BiauKai'), /* Mac OS X 的中文楷書字體名稱 */
       local('DFKai-SB'); /* 另一種常見的楷書字體名稱 */
  unicode-range: U+0030-0039; /* Unicode 範圍：數字 0 到 9 */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'BiauKaiDigits', var(--tw-font-sans), sans-serif; /* <-- 修正這行 */

  @apply bg-pink-50 text-gray-800; /* 其他顏色和字體屬性可以保留 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 100vh;
  overflow: hidden;
}

h1, h2, h3 {
  @apply font-bold text-pink-700;
}

button {
  @apply focus:outline-none;
}